/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Above is the css zero code */

.menu {
    background-color: rgb(30, 28, 28);
}

#logo {
    width: 250px;
    height: 250px;
    margin-left: 10px;
    background-color: rgb(30, 28, 28);
} 

.categories {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
    left: 250px;
    top: 70px;
}

a:link {
    text-decoration: none;
}

.categories > a {
    width: 200px;
    margin: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #bbbbba;
}

a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(104, 64, 233);
}

a:hover {
    color: rgb(104, 64, 233);
    box-shadow: 0 0 5px rgb(104, 64, 233);
    text-shadow: 0 0 5px rgb(104, 64, 233);
}

.name {
    color: #bbbbba;
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
    margin-top: -60px;
}

.mainVideo {
    width: 100vh;
}

.reason {
    display: flex;
    background-color: rgb(30, 28, 28);
}
.title1 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 30px;
    color: #bbbbba;
}
.description1 {
    text-align: center;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 30px;
    color: #bbbbba;
}